<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="parallel ">
    <test verbose="2" preserve-order="true" name="F:/IdeaProjects/AutomatedTestingFramework">
    </test>
    
    <suite-files>
        <suite-file path="TestAllChrome.xml"></suite-file>
        <suite-file path="TestAllFirefox.xml"></suite-file>
        <suite-file path="TestAllEdge.xml"></suite-file>
    </suite-files>
</suite>